.ui.selection.active.dropdown.drop1:hover .menu{
  //background-color: #A1A3A1 !important;
 }
 .ui.fluid.dropdown.drop1{
//  background-color: #A1A3A1 !important;
 }
.drop1.ui.dropdown:not(.button)>.default.text {
     color: white;
 }
 .drop1.ui.fluid.dropdown{
   color: white;
 }
 .ui.default.dropdown:not(.button)>.text, .ui.dropdown:not(.button)>.default.text{
   color: black !important;
 }
.ui.selection.active.dropdown:hover .menu{
  background-color: lightgrey !important;
}
